<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eduardo Rampon Meireles</title>
    <link rel="stylesheet" href="/style.css">
    {% block head %}{% endblock %}
</head> 
<body>
    <header>
        <div class="logo">
            <a class="aimg" href="/"><img src="/pp.jpg" alt="ERM"></a>
            <a class="anome" href="/">Eduardo Rampon Meireles</a>
        </div>
        
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/projetos">Projetos</a>
        </div>
    </header>

    {% block content %}{% endblock %}


</body>
</html>