{% extends "layout.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Pojetos</h1>
    </div>

    <section class="cards">

        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>
        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>
        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>
        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>
        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>
        <div class="card">
            
            <div class="card__content">
                <div class="card__content-img">
                    <img src="https://avatars3.githubusercontent.com/u/37454606?s=460&v=4" alt="">
                </div>
                <p>Título do repositório</p>
            </div>

            <div class="card__info">
                <p>Lorem ipsum dolor quas saepe porro architecto incidunt, est mollitia eius!</p>
            </div>
            <div class="card__access">
                <a href="github.com">Acessar</a>
            </div>
        </div>

    </section>
    


     <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
             <div class="modal-content">

                <iframe src="https://www.youtube.com/watch?v=9XvXF1LrWgA" frameborder="0"></iframe>
                
             </div>
        </div>
    </div> 
    <script src="script.js"></script>   
{% endblock %}
