{% extends "layout.html" %}

{% block content%}

    <div id="wrapper">
        <img src="pp.jpg" alt="Eduardo Rampon Meireles foto">
        <h1>Eduardo Rampon Meireles</h1>
        <h2>Um eterno aprendiz.</h2>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/EduardoRamponMeireles" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/eduardo.rampon/" target="_blank">Instagram</a>
        <a href="/" target="_blank">LinkedIn</a>
    </div>

{% endblock %}